.background{
	background-color: coral;
	background-repeat: no-repeat;
	background-size: cover;
}




.main h1{
	font-size: 35px; font_weight: 200; letter-spacing: 3px;
	color: red;
	text-shadow: 1px 1px 2px black;
	animation-name: example;
    animation-duration: 10s;
}

@keyframes example {
  from {background-color: darkkhaki;}
  to {background-color: navajowhite;}
}

.main p{
	font-size: 25px;
	font-family: fantasy;
	color: ;
	word-spacing: 1px;
	margin-bottom: 25px;
	text-shadow: 1px 2px 1px black;
}

.main li{
	font-size: 25px;
	font-family: serif;
	color: ;
	word-spacing: 1px;
	margin-bottom: 20px;
	text-shadow: 1px 2px 1px black;


}

       
